doctype html
//
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html(lang='zxx')
  head
    title
      | Employment Corporate Business Category Bootstrap Responsive Web Template | Home :: W3layouts
    // Meta tag Keywords
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    link(rel='shortcut icon', type='image/png', href='images/favicon.ico')
    meta(name='keywords', content='Employment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(src='js/jquery-3.3.1.min.js')
    script.
      addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
      }, false);
      function hideURLbar() {
      window.scrollTo(0, 1);
      }
    // //Meta tag Keywords
    // Custom-Files
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Bootstrap-Core-CSS
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
    // Style-CSS
    link(href='css/font-awesome.min.css', rel='stylesheet')
    // Font-Awesome-Icons-CSS
    // //Custom-Files
    // Web-Fonts
    link(href='//fonts.googleapis.com/css?family=Niramit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&subset=latin-ext,thai,vietnamese', rel='stylesheet')
    // //Web-Fonts
  body
    // main banner
    #home.main-top
      // header
      header
        // nav
        nav.py-lg-4.py-3.px-xl-5.px-lg-3.px-2
          #logo
            h1
              a(href='index.html')
                img(src='images/logoi.png', style='width: 70px', alt='')
          label.toggle(for='drop') Menu
          input#drop(type='checkbox')
          ul.menu.mt-2
            //
              <li class="active"><a href="index.html">Home</a></li>
            li.mx-lg-3.mx-md-2.my-md-0.my-2
              a(href='registro.html', target='_blank') Registrarse
            li
              a(href='login.html', target='_blank') Iniciar sesión
            li.mx-lg-3.mx-md-2.my-md-0.my-2
              // First Tier Drop Down
              //
                <label for="drop-2" class="toggle toogle-2">Registrarse <span class="fa fa-angle-down" aria-hidden="true"></span>
                </label>
                <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                <input type="checkbox" id="drop-2" />
                <ul>
                <li><a href="#gallery" class="drop-text">Gallery</a></li>
                <li><a href="#team" class="drop-text">Team</a></li>
                <li><a href="#blog" class="drop-text">Blog</a></li>
                <li><a href="#stats" class="drop-text">Statistics</a></li>
                <li><a href="#testi" class="drop-text">Testimonials</a></li>
                </ul>
            li
              a(href='contact.html') Contactenos
        // //nav
        // //header
        // banner
        .main-w3pvt
          .container
            .style-banner.text-center
              h4.mb-2 Una herramienta muy util para los desarrolladores
              // <h1 class="font-weight-bold mb-3">We <span>Help</span> Achieve Your <span>Biggest</span> Goals</h1>
              h1.font-weight-bold.mb-3 Rolex
              p Codigos ligeros, eficientes y divertidos
              // popup button
              a.btn.button-style.mt-sm-5.mt-4(href='#popup1', style='max-width: 150px; margin: 0 auto;') Iniciar sesión
              // //popup button
              // //banner
              // //main banner
              // popup
              //
                <div id="popup1" class="popup-effect">
                <div class="popup">
                <img src="images/blog3.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4 ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
                sunt explicabo.</p>
                <a class="close" href="#">&times;</a>
                </div>
                </div>
              // //popup
              // about
              section#about.about.py-5
                .container.py-xl-5.py-lg-3
                  .row.py-lg-4
                    .col-lg-6.pr-xl-5.about-left
                      h5.text-uppercase.text-color.let Bienvenido a Rolex para desarrolladores
                      h3.text-black.font-weight-bold.let.mt-3.mb-lg-5.mb-3
                        | La herramienta que complementa
                        | tus proyectos de programación
                      //
                        <h3 class="text-black font-weight-bold let mt-3 mb-lg-5 mb-3">Your <span class="font-italic font-weight-light">Success</span>
                        in Business <br>is Our Duty</h3>
                        <h4 class="text-black font-weight-light let">Rich and Successful <br>Experience</h4>
                    .col-lg-6.pl-xl-5.mt-lg-0.mt-4
                      p
                        | Nos encontramos ante la necesidad de que el desarrollo de sus codigos puedan
                        | conservar un espacio en la nube, que puedan ser accedidos desde cualquier dispositivo
                      //
                        <p class="pt-4 mt-4 border-top"><span class="fa fa-quote-left text-color mr-3"></span>Donec consequat sapien ut
                        leo
                        cursus rhoncus. Nullam dui mi, vulputate ac metus
                        at, semper varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad
                        litora torquent per.</p>
              // //about
              // about bottom
              .banner-bottom.py-5
                .d-flex.grids-w3.py-xl-5.py-lg-3
                  .col-lg-4.w3pvt-lauits_banner_bottom_left
                    .w3pvt-lauinfo_banner_bottom_pos
                      .row
                        .col-sm-4.col-3.wthree_banner_bottom_grid_left.icons-w3pvt1.text-right
                          span.fa.fa-forumbee
                        .col-sm-8.col-9.wthree_banner_bottom_grid_right
                          h4.mb-3 Programación
                          p
                            | Disfruta de una interfaz intuitiva, agradable a la vista al momento de programar
                  .col-lg-4.w3pvt-lauits_banner_bottom_left.my-lg-0.my-4
                    .w3pvt-lauinfo_banner_bottom_pos.active
                      .row
                        .col-sm-4.col-3.wthree_banner_bottom_grid_left.icons-w3pvt2.text-right
                          span.fa.fa-line-chart
                        .col-sm-8.col-9.wthree_banner_bottom_grid_right
                          h4.mb-3 Integración en la nube
                          p
                            | Nuestra motivación ofrecerle comodidad a sus proyectos, para poder tener respaldos
                            | en la nube en caso de perdida o daño de sus dispositos, siempre podra ingresar a sus proyectos
                  .col-lg-4.w3pvt-lauits_banner_bottom_left
                    .w3pvt-lauinfo_banner_bottom_pos
                      .row
                        .col-sm-4.col-3.wthree_banner_bottom_grid_left.icons-w3pvt3.text-right
                          span.fa.fa-thumbs-o-up
                        .col-sm-8.col-9.wthree_banner_bottom_grid_right
                          h4.mb-3 Responsabilidad
                          p
                            | Conserve una cuenta segura a la que solo usted y sus colaboradores puedan ingresar
              // //about bottom
              // middle grid
              section.bottom-banner-w3layouts.text-center
                .d-flex
                  .col-lg-6.banner-about
                    h3.title-wthree.text-black.mb-4
                      span.mb-2.text-color
                      | Programe desde cualquier dispositivo
                    p
                      | Nuestros servicios le dan la comodidad de poder no solo desde una computadora
                      | administrar sus proyectos, sino tambien desde cualquier dispositivo
                      | de esa forma en caso de extravio, robos o accidentes, sus trabajos estaran en la nube
                      | y no tendra de que preocuparse, Rolex guarda sus archivos y sus proyectos no se destruyen a menos que
                      | usted lo desee.
                    // button
                    a.btn.button-style.button-style-2.mt-sm-5.mt-4(href='#about') Read More
                    // //button
                  .col-lg-6.p-lg-0.text-lg-right.text-center.mt-lg-0.mt-md-4
                    br
                    br
                    br
                    br
                    img.img-fluid(src='images/img.jpg', alt='')
              // //middle grid
              // popup
              #popup2.popup-effect
                .popup
                  img.img-fluid(src='images/blog2.jpg', alt='Popup Image')
                  p.mt-4
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    | laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
                    | sunt explicabo.
                  a.close(href='#middle') ×
              // //popup
              // //middle section
              //
                blog
              // popup
              #popup3.popup-effect
                .popup
                  img.img-fluid(src='images/blog1.jpg', alt='Popup Image')
                  p.mt-4
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    | laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
                    | sunt explicabo.
                  a.close(href='#blog') ×
              // //popup
              // //blog
              // stats section
              // //stats section
              // pricing plans
              section#pricing.services-w3sec.py-5
                .container.py-xl-5.py-lg-3
                  h3.tittle.text-center.text-dark.font-weight-bold Pricing Plans
                  p.sub-tittle.text-center.mt-3.mb-sm-5.mb-4
                    | Sed do eiusmod tempor incididunt ut labore et dolore magna
                    | aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  .w3pvt-lauabt-w3
                    .row
                      // Table #1
                      .col-lg-4.col-md-6(data-aos='flip-right')
                        .w3ls-pricing.card.text-center
                          .card-header
                            h4.card-title.price-title
                              | Basic Plan
                            h4.display-2
                              | 17
                              span.period /month
                          .card-block
                            ul.list-group.list-group-flush
                              li.list-group-item Ultimate Features
                              li.list-group-item Responsive Ready
                              li.list-group-item Visual Composer Included
                              li.list-group-item 24/7 Support System
                            a.btn.btn-gradient.mt-4(href='#') Choose Plan
                      // Table #2s
                      .col-lg-4.col-md-6.price-wthree.mt-md-0.mt-5(data-aos='flip-right')
                        .w3ls-pricing.card.text-center.service-active
                          .card-header
                            h4.card-title.price-title.text-white
                              | Regular Plan
                            h4.display-2.text-white
                              | 27
                              span.period.text-light /month
                          .card-block
                            ul.list-group.list-group-flush
                              li.list-group-item.text-white Ultimate Features
                              li.list-group-item.text-white Responsive Ready
                              li.list-group-item.text-white Visual Composer Included
                              li.list-group-item.text-white 24/7 Support System
                            a.btn.btn-gradient.mt-4(href='#') Choose Plan
                      // Table #3
                      .col-lg-4.col-md-6.mx-sm-auto.mt-lg-0.mt-5(data-aos='flip-right')
                        .w3ls-pricing.card.text-center
                          .card-header
                            h4.card-title.price-title
                              | Premium Plan
                            h4.display-2
                              | 37
                              span.period /month
                          .card-block
                            ul.list-group.list-group-flush
                              li.list-group-item Ultimate Features
                              li.list-group-item Responsive Ready
                              li.list-group-item Visual Composer Included
                              li.list-group-item 24/7 Support System
                            a.btn.btn-gradient.mt-4(href='#') Choose Plan
              // //pricing plans
              // gallery
              // contact
              section#contact.contact
                h3.title-wthree.text-black.text-center.mb-5
                  span.text-color Send
                  | Contact Us
                .d-flex.contact-top
                  .col-lg-6.contact_grid_left
                    .row
                      .col-sm-6
                        ul.list-unstyled
                          li
                            .row
                              .col-xl-2.col-3.text-center
                                span.fa.fa-home
                              .col-xl-10.col-9
                                h6 Address
                                p
                                  | The company name
                                  br
                                  | New York City.
                          li.mt-sm-5.mt-4
                            .row
                              .col-xl-2.col-3.text-center
                                span.fa.fa-comment
                              .col-xl-10.col-9
                                h6 Social
                                p
                                  a(href='#') Facebook.com
                                  br
                                  a(href='#') twitter.com
                      .col-sm-6.mt-sm-0.mt-4
                        ul.list-unstyled
                          li
                            .row
                              .col-xl-2.col-3.text-center
                                span.fa.fa-envelope
                              .col-xl-10.col-9
                                h6 Email
                                a(href='mailto:info@example.com') mail@example.com
                                br
                                a(href='mailto:info@example.com') mail2@example.com
                          li.mt-5
                            .row
                              .col-xl-2.col-3.text-center
                                span.fa.fa-phone
                              .col-xl-10.col-9
                                h6 Phone
                                p 1234567890
                                p 0987654321
                  //
                    <div class="col-lg-6 contact_grid_right">
                    <form action="#" method="post">
                    <div class="row contact_top">
                    <div class="col-sm-6">
                    <input type="text" name="Name" placeholder="Name" required="">
                    </div>
                    <div class="col-sm-6 mt-sm-0 mt-4">
                    <input type="email" name="Email" placeholder="Email" required="">
                    </div>
                    </div>
                    <textarea name="Message" onfocus="this.value='' ;" onblur="if (this.value=='' ) {this.value='Message...' ;}"
                    required="">Message...</textarea>
                    <button type="submit" class="btn">Send</button>
                    </form>
                    </div>
                  .col-lg-6
                    img.img-fluid.auto(src='images/logoii.jpg', class='max-width: 100% height:', style='height: 470px')
              // //contact
              // footer
              footer.footer.py-sm-5.py-4.text-center
                .container.py-xl-4.py-lg-3
                  a.move-top.text-center(href='#home')
                    span.fa.fa-angle-up.mb-3(aria-hidden='true')
                  .logo-2.text-center
                    h2
                      a.text-wh.let.font-weight-bold(href='./index.html') Employment
                  // social icons footer
                  .w3l-footer.text-center.mt-4
                    ul.list-unstyled
                      li
                        a(href='#')
                          span.fa.fa-facebook-f
                      li.mx-1
                        a(href='#')
                          span.fa.fa-twitter
                      li
                        a(href='#')
                          span.fa.fa-dribbble
                      li.ml-1
                        a(href='#')
                          span.fa.fa-vk
                  // copyright
                  p.copy-right-grids.text-li.text-center.mt-sm-5.mt-4
                    | © 2018 Employment. All Rights Reserved | Design by
                    a.text-color(href='https://w3layouts.com/', target='_blank') W3layouts
                  // //copyright
                  // footer
                  script(src='js/easing.js')
                  script(src='js/move-top.js')
                  script(src='js/SmoothScroll.min.js')
                  script(src='js/bootstrap.min.js')
