	<div class="main-top" id="home">
		<!-- header -->
		<header>
				<!-- nav -->
				<nav class="py-lg-4 py-3 px-xl-5 px-lg-3 px-2">
					<div id="logo">
						<h1><a class="" href="index.html"><img src="images/logoi.png" style="width: 70px" alt=""></a></h1>
					</div>
					<label for="drop" class="toggle">Menu</label>
					<input type="checkbox" id="drop" />
					<ul class="menu mt-2">
						<!--
		<li class="active"><a href="index.html">Home</a></li>
						-->
				
						<li  class="mx-lg-3 mx-md-2 my-md-0 my-2">
						<!--<a href="#" data-toggle="modal" data-target="#modalRegisterForm" >Registrarse</a>-->	
							<a href="./registro.html"  target="_blank" >Registrarse</a>
						</li>
						<li><a href="login.html" target="_blank">Iniciar sesión</a></li>
						<li class="mx-lg-3 mx-md-2 my-md-0 my-2">
							<!-- First Tier Drop Down -->
					
						</li>
						<li><a href="contact.html">Contactenos</a></li>
					</ul>
				</nav>
				<!-- //nav -->
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="main-w3pvt">
			<div class="container">
				<div class="style-banner text-center">
					<h4 class="mb-2">Una herramienta muy util para los desarrolladores</h4>
				<!--<h1 class="font-weight-bold mb-3">We <span>Help</span> Achieve Your <span>Biggest</span> Goals</h1> -->
				<h1 class="font-weight-bold mb-3">Rolex</h1>
					<p>Codigos ligeros, eficientes y divertidos</p>
					<!-- popup button -->
					<a href="#popup1" style="max-width: 150px; margin: 0 auto;" class="btn button-style mt-sm-5 mt-4">Iniciar sesión</a>
					<!-- //popup button -->
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>
